<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TelegramApiKey" value="333986430:AAGEjLTakbjX5M-rwJ2UMJ8p1-nu6hS61i4"/>
    <add key="AddressStreet" value="Studenților"/>
    <add key="AddressHouse" value="9/11"/>
    <add key="AddressAppartment" value="-"/>    
  </appSettings>
</configuration>