<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TelegramApiKey" value="465465465465465454654654654654654646"/>
    <add key="AddressStreet" value="Studenților"/>
    <add key="AddressHouse" value="9/11"/>
    <add key="AddressAppartment" value="-"/>    
  </appSettings>
</configuration>